<section class="home-container">

  <!-- LEFT SIDE -->
  <div class="hero">
    <h1>Hi, I'm Abhishek 👋</h1>
    <h2>Android & Java Developer</h2>
    <p>I build modern apps with Angular & Java backend</p>
  
   <div class="social-icons">
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="https://www.linkedin.com/in/abhishek-maurya96/"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/AbhishekAparchit"><i class="fab fa-github"></i></a>
</div>

    <button routerLink="/projects">View Projects</button>
  </div>

  <!-- RIGHT SIDE -->
  <div class="hero-right">
    <img src="/iamg.jpg" alt="profile">
  </div>

</section>